*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.navvar {
    position: sticky;
    top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: black;
}
.container {
    gap: 15px;
   display: flex;
   align-items: center;
   justify-content: center; 
}
h1{
    color: white;
}
.logo{
    margin-left: 15px;
    margin-top: 5px;
    width: 54px;
}
.nav{
    margin-right: 30px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.nav li{
    list-style: none;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;

}
.nav li a:hover{
    background-color: rgb(255, 55, 0);
}
#menu-btn{
    display: none;
}
.hide{
     position: fixed;
     top: 0px;
     right: 0px;
     width: 250px;
     height: auto;
     background-color:  rgba(34, 34 , 34, 0.2);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-bottom-left-radius: 10px;
     border-top-left-radius: 10px;
     backdrop-filter: blue(10px);
     box-shadow: -10px 0 10px rgba(23, 23, 23, 0.3);
     display: none;
     
}
.hide li{
    list-style: none;
    width: 100%;
}
.hide li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.hide li a:hover{
    background-color: red;
}
.hero{
    height: 50vh;

}
.bg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    z-index: -22;
}
.hero-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}
.hero-1 span{
    width: 70vw;
    margin: auto;
}
.first{
    font-size: 40px ;
    font-weight: 1000;
    color: white;
    margin-bottom: 15px;
}
.second{
    color: white;
}
form input{
    margin-top: 15px;
    background: rgba(121, 120, 120, 0.4);
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    padding: 10px;
}
form label{
    padding:  10px 20px ;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    border: 1.5px solid black;
    background: rgb(145, 7, 7);
}
form label:hover{
    background-color: red;
    cursor: pointer;
}
.hero-2{
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}
.big-txt{
    font-size: 40px;
    font-weight:1000 ;
    margin-bottom: 10px;
}
.right-1 img{
    font-size: 350px;
}
.hero-3{
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

@media  only screen and (max-width :768px) {
    .nav .mobile{
        display: none;
    }
    #menu-btn{
        display: block;
    }
    .logo{
        width: 6vw;
    }
    h1{
        font-size: 4vw;
    }
     .hero{
        height: 25vw;
     }
    .first{
        font-size: 4vw;

    }
    .hero-1{
        margin-top: 4vw;
    }
    .second{
        font-size: 2vw;
    }
   
    form input{
        margin-top: 0.5vw;
        font-size: 2vw;
        padding: 1vw;
        width: 30vw;
    }
    form label{
       font-size: 2vw;
       width: 500;
    }
    .hero-2{
        flex-direction: column;

    }
    .hero-3{
        flex-direction: column;
    }
   p{
    text-align: center;
   }
   .right-1 img{
     width: 100%;
   }
   .big-txt{
    font-size: 5vw;
   }
   .small-txt{
    font-size: 4vw;
   }
}


